{% extends 'base.html.twig' %}

{% block body %}
        <legend class="">Registration</legend>
        
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            <div class="form-group">
                {{ form_label(form.username) }}
                {{ form_widget(form.username, { 'attr': {'class': 'form-control form-control-inline'} }) }}
                {{ form_errors(form.username) }}
            </div>
            
            <div class="form-group">
                {{ form_label(form.plainPassword.first) }}
                {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control form-control-inline'} }) }}
                {{ form_errors(form.plainPassword.first) }}
            </div>
            
            <div class="form-group">
                {{ form_label(form.plainPassword.second) }}
                {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control form-control-inline'} }) }}
                {{ form_errors(form.plainPassword.second) }}
            </div>
            
            <div class="form-group">
                {{ form_label(form.email) }}
                {{ form_widget(form.email, { 'attr': {'class': 'form-control form-control-inline'} }) }}
                {{ form_errors(form.email) }}
            </div>

            <input type="submit" value="Register" class="btn btn-success" />
            
            {{ form_errors(form) }}
        {{ form_end(form) }}
        
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
    
{% endblock %}